@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: $font-1;
    background-color: $body-bg-clr;
    line-height: 1.35;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    max-width: 100%;
}

img,
svg {
    vertical-align: middle;
}
